.area {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 250px;
  margin: 0 auto;
}

.item {
  width: 80px;
  height: 80px;
  background-color: #000;
  color: white;
  border: 1px solid white;
}

.item.active {
  background-color: green;
  color: white;
}